@model MVCPOC.ViewModels.EmployeeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .SelectedEmployee {
            background-color: gray;
            font-weight: bold;
        }
    </style>
</head>
<body>
   
    <h1>ADD EMPLOYEE</h1>
    <div class="container" style="width: 1600px; height: 259px; align-self:initial; padding-right:50% ">
        @{
            if (Model.SelectedEmployee != null)
            {
                Html.RenderPartial
                ("_EditEmployee", Model.SelectedEmployee);

            }
            else
            {
                Html.RenderPartial("_InsertEmployee",
                    new MVCPOC.Models.Employee());
            }
        }
    </div>
    <br /><br /><br />
  @*  <h2>LIST OF EMPLOYEES</h2>*@

<div>
    <form method="post">
        <br /><br />

            <table cellpadding="10"  class=" table text-center table-hover table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Department</th>

                    <th colspan="2">Actions</th>
                </tr>
                @foreach (var item in Model.employees)
                {
                    if (Model.SelectedEmployee != null)
                    {
                        if (item.ID == Model.SelectedEmployee.ID)
                        {
                            @:<tr class="SelectedEmployee">
                            }
                            else
                            {
                            @:</tr>
                        }
                    }

                    <td> @item.ID</td>
                    <td> @item.Name</td>
                    <td> @item.Email</td>
                    <td> @item.Password</td>
                    <td> @item.Department</td>

                    <td>
                        <input type="submit"
                               formaction="/home/select/@item.ID"
                               value="Select" class="btn btn-primary" />
                    </td>
                    <td>
                        <input type="submit"
                               formaction="/home/delete/@item.ID"
                               value="Delete" class="btn btn-danger" />
                    </td>
                    @:</tr>
                }

            </table>
  

    </form>
    <br />
</div>
    
</body>
</html>